 
# MONGODB_URI: Connection string for MongoDB.
MONGODB_URI=mongodb+srv://anuragsinghisgood_db_user:MzftweizDCGhRc4L@cluster0.qcdpesv.mongodb.net/?appName=Cluster0

# JWT_SECRET: Secret key for signing JWT tokens.
JWT_SECRET=this is the hardest jwt scecret which can not be breaked by anyone
